<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'>
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Meeting Scheduler</title>

    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS files -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/now-ui-dashboard.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/css/bootstrap-timepicker.css" rel="stylesheet">

    {% block csscode %}

    {% endblock %}

    <style type="text/css">
        .black-overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #000000;
            z-index: 100001;
            opacity: 0.6;
        }

        .white-content {
            display: none;
            position: absolute;
            border-radius: .1875rem;
            background-color: white;
            z-index: 100002;
            overflow: auto;
        }

        #add-light {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 300px;
            height: 260px;
            margin-left: -150px;
            margin-top: -130px;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- Change the color of the sidebar using: data-color="blue|green|orange|red|yellow" -->
        <div class="sidebar" data-color="orange">
            <div class="logo">
                <a href="/" class="simple-text logo-mini" style="width: auto">MAMS</a>
                <a href="/" class="simple-text logo-normal">HOME</a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav" id="agent-list">
                    {% for item in agents %}
                        <li {% if agent != None %}{% if item.agent_id == agent.agent_id %} class="active" {% endif %}{% endif %}>
                            <a href="/agent/{{ item.agent_id }}">
                                <i class="now-ui-icons users_single-02"></i>
                                <p>{{ item.email | split_name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a id="agent-add" style="background: rgba(255,255,255,0.3)">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            <p>Add Agent</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel" id="main-panel">

            {% block content %}

            {% endblock %}

        </div>
    </div>

    <div class="popup-add">
        <div id="add-light" class="white-content">
            <h4 class="card-title" style="margin: 15px 0">Add Agent</h4>
            <div>
                <input id="agent-email" type="email" class="form-control" placeholder="your_jid@xmpp_server" style="margin: 10px 0">
                <input id="agent-password" type="password" class="form-control" placeholder="your_password" style="margin: 10px 0">

                <button id="agent-confirm" class="btn btn-primary" style="margin-right: 10px">Confirm</button>
                <button id="agent-cancel" class="btn btn-primary btn-outline-primary" style="margin-left: 10px">Cancel</button>
            </div>
        </div>
        <div id="add-fade" class="black-overlay"></div>
    </div>

    {% block popup %}

    {% endblock %}

    <!-- Core JS files -->
    <script src="/js/core/jquery.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/plugins/bootstrap-datepicker.js"></script>
    <script src="/js/plugins/bootstrap-timepicker.js"></script>

    <!-- Control center for Now UI Dashboard -->
    <script src="/js/now-ui-dashboard.js"></script>
    
    <script>
        $(function () {
            $("#agent-add").on("click", function () {
                $("#add-light").css("display", "block");
                $("#add-fade").css("display", "block");
            });

            $("#agent-cancel").on("click", function () {
                $("#add-light").css("display", "none");
                $("#add-fade").css("display", "none");
            });

            $("#agent-confirm").on("click", function() {
                var agent_email = $("#agent-email").val();
                var agent_password = $("#agent-password").val();

                if ($.trim(agent_email).length == 0 || $.trim(agent_password).length == 0) {
                    $.notify({
                        icon: "now-ui-icons ui-1_bell-53",
                        message: "Email or password cannot be blank!"
                    }, {
                        type: "primary",
                        timer: 3000,
                        placement: {
                            from: "bottom",
                            align: "center"
                        },
                        z_index: 100003
                    });
                } else {
                    $.ajax({
                        url: "/api/agents",
                        type: "post",
                        data: {
                            "email": agent_email,
                            "password": agent_password
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                $("#light").css("display", "none");
                                $("#fade").css("display", "none");

                                location.reload()
                            } else if (data.code == 300) {
                                $.notify({
                                    icon: "now-ui-icons ui-1_bell-53",
                                    message: data.message
                                }, {
                                    type: "primary",
                                    timer: 3000,
                                    placement: {
                                        from: "bottom",
                                        align: "center"
                                    },
                                    z_index: 100003
                                });
                            } else if (data.code == 400) {
                                $.notify({
                                    icon: "now-ui-icons ui-1_bell-53",
                                    message: data.message
                                }, {
                                    type: "primary",
                                    timer: 3000,
                                    placement: {
                                        from: "bottom",
                                        align: "center"
                                    },
                                    z_index: 100003
                                });
                            }
                        }
                    })
                }
            });
        })
    </script>

    {% block jscode %}

    {% endblock %}
</body>

</html>